<meta charset="UTF-8">

<html>

<body onclick="get_focus();">

    <h1>Jogo da adivinhação</h1>
    <input id="my_text_field" /> <button>Verificar</button>

</body>

</html>

<script>

    function sorteia() {

        return Math.round(Math.random() * 10);

    }

    function verifica() {

        if (input.value == numero_sorteado) {

            alert("Você acertou!!!")

        }

        else {

            alert("Você errou!!!")

        }

    }

    function get_focus() {

        document.getElementById("my_text_field").focus();

    }

    var numero_sorteado = sorteia();
    var input = document.querySelector("input");
    input.value = "";
    var button = document.querySelector("button");
    button.onclick = verifica;

</script>