<meta charset="UTF-8">

<html>

<h1>Jogo da adivinhação</h1>
<input /> <button>Verificar</button>

</html>

<script>

    function sorteia() {

        return Math.round(Math.random() * 10);

    }

    function verifica() {

        if (resposta.value == numero_sorteado) {

            alert("Você acertou!!!")

        }

        else {

            alert("Você errou!!!")

        }

    }

    var numero_sorteado = sorteia();
    alert(numero_sorteado);
    var resposta = document.querySelector("input");
    resposta.focus();
    var button = document.querySelector("button");
    button.onclick = verifica;

</script>